[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
jsonschema = "*"
"2d57d3a" = {path = "./ingest_api", editable = true}


[dev-packages]
pytest = "*"


[requires]

python_version = "3.6"
